{% extends "common/system-base.html" %}

{% block title %}
  Archivo Permanente
{% endblock title %}
{% block page_title %}
  Archivo Permanente
{% endblock page_title %}
{% block page_subtitle %}
{% endblock page_subtitle %}
{% block main_header_content %}
  <p class="w-100">
    <b>Instrucción:</b> Haz clic en el botón "Descargar" para obtener el documento correspondiente.
    Los archivos se descargarán en formato DOCX y podrás editarlos en tu aplicación de procesamiento de texto preferida.
  </p>
{% endblock main_header_content %}

{% load static %}

{% block main_content %}
  <div class="row g-3">
    {% for documento in documentos %}
    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ documento.nombre }}</h5>
          <div class="mt-auto">
            <a href="{% url 'descargar_archivo' documento.archivo %}" class="btn btn-primary w-100">
              <i class="bi bi-download me-2"></i>Descargar
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock main_content %}
{% block extra_scripts %}
  <script>
  const buttons = document.querySelectorAll(".loadButton");
  const iframeContainer = document.getElementById("spreadsheetContainer");
  const iframe = document.getElementById("spreadsheetIframe");
  const directLink = document.getElementById("directLink");

  const handleClickButton = (btn) => {
    const url = btn.getAttribute("data-url");

    if (url) {
      iframe.src = url;
      directLink.href = url;
      iframeContainer.classList.remove("d-none");
      iframeContainer.classList.add("d-flex");
    }
  }

  buttons.forEach((btn) => btn.addEventListener("click", () => handleClickButton(btn)))
  </script>
{% endblock extra_scripts %}
