{% extends "common/system-base.html" %}

{% block title %}
  Marca de Auditoría {{ audit_mark.name }}
{% endblock title %}

{% load filters %}

{% block page_title %}
  Marca {{ audit_mark.name }}
{% endblock page_title %}
{% block page_subtitle %}
  Editar los valores de la marca de auditoría
{% endblock page_subtitle %}
{% block main_content %}
  <div class="card shadow-sm col-6">
    <div class="card-body">
      <form action="{% url 'audit_mark' audit_mark.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="image" class="form-label">URL Ícono</label>
          <input type="text"
                 class="form-control"
                 id="image"
                 placeholder="Ingrese el URL de el ícono"
                 name="image"
                 value="{{ audit_mark.image }}"
                 required />
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text"
                 class="form-control"
                 id="name"
                 placeholder="Ingrese el nombre de la marca"
                 name="name"
                 value="{{ audit_mark.name }}"
                 required />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <textarea class="form-control"
                    placeholder="Ingrese la descripción de la marca"
                    id="description"
                    name="description"
                    style="height: 150px"
                    required>{{audit_mark.description}}</textarea>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <button type="submit" class="btn btn-primary" id="submitButton" disabled>Guardar</button>
          <button type="reset" class="btn btn-secondary" id="resetButton">Restablecer Cambios</button>
        </div>
      </form>
    </div>
  </div>
{% endblock main_content %}
{% block extra_scripts %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const inputs = document.querySelectorAll(".form-control");
      const submitButton = document.getElementById("submitButton");
      const resetButton = document.getElementById("resetButton");
      const name = "{{audit_mark.name}}"
      const description = "{{audit_mark.description}}"
      const image = "{{audit_mark.image}}"

      const handleChange = (value, field) => {
        const isFieldUnchanged = 
          value === "" || 
          (field === "name" && value === name) || 
          (field === "description" && value === description) || 
          (field === "image" && value === image);
        if (isFieldUnchanged) {
          submitButton.setAttribute("disabled", true);
          return;
        }
        submitButton.removeAttribute("disabled");
      };
      
      inputs.forEach((input) => {
        input.addEventListener("input", (e) => handleChange(e.currentTarget.value, e.target.id));
      });

      resetButton.addEventListener("click", () => submitButton.setAttribute("disabled", true));
    });
  </script>
{% endblock extra_scripts %}
