{% extends "common/system-base.html" %}

{% block title %}
  Tipos de Monedas
{% endblock title %}

{% load filters %}
{% load render_table from django_tables2 %}

{% block page_title %}
  Tipos de Monedas
{% endblock page_title %}

{% load render_table from django_tables2 %}

{% block main_header_content %}
  <div>
    {% if user.is_superuser or user.role.name == "auditor" %}
      <a class="btn btn-primary" href="{% url 'create_currency_type' %}">Añadir Tipo de Moneda</a>
    {% endif %}
    <a href="{% url 'currency_types' %}?generate_pdf=true"
       class="btn btn-secondary">Generar PDF</a>
  </div>
{% endblock main_header_content %}
{% block main_content %}
  {% render_table table %}
{% endblock main_content %}
