{% extends "common/system-base.html" %}

{% block title %}
Auditoría Financiera
{% endblock title %}

{% block page_title %}
Auditoría Financiera
{% endblock page_title %}

{% block main_content %}
<div class="container">
    <h1>Selecciona una Auditoría Financiera</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="audit_select" class="form-label">Auditorías</label>
            <select id="audit_select" name="audit_id" class="form-select" required>
                <option value="">Seleccione una auditoría</option>
                {% for audit in auditorias %}
                    <option value="{{ audit.id }}">{{ audit.title }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Seleccionar Auditoría</button>
    </form>
</div>
{% endblock main_content %}