<div class="w-100 justify-content-between align-items-center p-3"
     id="aside-header">
  <button id="navbar-collapse-header-btn"
          onclick="toggleSidebar()"
          style="appearance: none;
                 outline: none;
                 border: none;
                 border-radius: .5em;
                 text-decoration: none;
                 color: #000;
                 display: flex;
                 background-color: transparent">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="ionicon"
         width="30"
         height="30"
         viewBox="0 0 512 512">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352" />
    </svg>
  </button>
  <span class="fs-2" style="font-weight: 600;">Audita</span>
</div>
