<div class="modal fade" id="delete-account-confirmation-modal" tabindex="-1" aria-labelledby="delete-account-confirmation-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delete-account-confirmation-modal-label">Borrar Cuenta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Le pedimos sus datos para confirmar que es usted.</p>
                <form action="{% url 'delete_account' %}" id="delete-account-form" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="delete-account-confirmation-modal-email-input" class="form-label">Correo electrónico</label>
                      <input type="email" class="form-control" name="email" id="delete-account-confirmation-modal-email-input" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3">
                      <label for="delete-account-confirmation-modal-password-input" class="form-label">Contraseña</label>
                      <input type="password" name="password" class="form-control" id="delete-account-confirmation-modal-password-input" required>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                          </svg>
                    <strong>Advertencia</strong>
                       Borrar su cuenta eliminará todos los datos asociados a ella permanentemente, esta acción es irreversible.                 
                     </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="delete-account-form" id="delete-account-submit-button">Borrar Cuenta</button>
            </div>
        </div>
    </div>
</div>

{% block extra_scripts %}
<script>

</script>
{% endblock %}