{% extends "common/system-base.html" %}

{% block title %}
  Audita Información de Usuario
{% endblock title %}
{% block page_title %}
  Información de Usuario
{% endblock page_title %}
{% block page_subtitle %}
  Actualice su información de usuario.
{% endblock page_subtitle %}

{% load filters %}

{% block main_content %}
  {% if user.is_authenticated %}
    <!-- Información de Usuario -->
    <section class="mb-5 bg-body-tertiary p-4 rounded shadow w-100">
      <ol class="list-group">
        {% for field, text in user_fields %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ text }}: {{ user|getattr:field }}</span>
            <button type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-{{ field }}">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   class="bi bi-pencil-square"
                   viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                </path>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z">
                </path>
              </svg>
            </button>
            {% with edit_field=text %}

              {% include "users/_edit-user-data-modal.html" with field=field text=text %}

            {% endwith %}
          </li>
        {% endfor %}
      </ol>
    </section>
    <!-- Configuración de Seguridad -->
    <section class="mb-5 bg-body-tertiary p-4 rounded shadow w-100">
      <header class="mb-3">
        <h2>Seguridad</h2>
        <p class="text-muted">Actualice sus configuraciones de seguridad.</p>
      </header>
      <form>
        <div class="mb-3">
          <label for="2fa" class="form-label">Autenticación de Dos Factores</label>
          <select id="2fa" class="form-select">
            <option value="enabled">Habilitado</option>
            <option value="disabled" selected>Deshabilitado</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </form>
    </section>
    <section class="mb-5 bg-body-tertiary p-4 rounded shadow w-100">
      <header class="mb-3">
        <h2>Notificaciones</h2>
        <p class="text-muted">Gestiona tus preferencias de notificación.</p>
      </header>
      <form>
        <div class="form-check">
          <input class="form-check-input"
                 type="checkbox"
                 id="emailNotifications"
                 checked />
          <label class="form-check-label" for="emailNotifications">Notificaciones por correo electrónico</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="smsNotifications" />
          <label class="form-check-label" for="smsNotifications">Notificaciones por SMS</label>
        </div>
        <footer class="mt-4">
          <button type="submit" class="btn btn-primary">Actualizar Preferencias</button>
        </footer>
      </form>
    </section>
    <!-- Zona de Peligro -->
    <section class="mb-5 bg-body-tertiary p-4 rounded shadow w-100">
      <header class="mb-3">
        <h2>Zona de Peligro</h2>
        <p class="text-danger">Estas acciones no se pueden deshacer.</p>
      </header>
      <p class="text-danger">
        Al borrar su cuenta, perderá todos los datos asociados, incluidas auditorías y notificaciones.
      </p>
      <button type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete-account-confirmation-modal">Eliminar Cuenta</button>

      {% include "users/_delete-account-confirmation-modal.html" %}

    </section>
    <!-- Opciones de Salida -->
    <footer class="d-flex justify-content-between mt-4 w-100">
      <a class="btn btn-outline-danger" href="{% url 'logout' %}">Cerrar Sesión</a>
      {% if user.is_staff %}<a class="btn btn-primary" href="/admin/">Panel de Administración</a>{% endif %}
    </footer>
  {% else %}
    <section class="text-center my-5">
      <h1>Por favor, inicie sesión</h1>
      <a class="btn btn-primary" href="{% url 'login' %}">Iniciar Sesión</a>
    </section>
  {% endif %}
{% endblock main_content %}
{% block extra_scripts %}
  <script>
  window.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("delete-account-submit-button");
    const passwordInput = document.getElementById("delete-account-confirmation-modal-password-input");
    const emailInput = document.getElementById("delete-account-confirmation-modal-email-input")

    button.disabled = true
    emailInput.addEventListener("input", e => {
      if(e.target.value.length > 1 && passwordInput.value.length > 1)  button.disabled = false
      else button.disabled = true
    })

    passwordInput.addEventListener("input", e => {
      if(e.target.value.length > 1 && emailInput.value.length > 1) button.disabled = false
      else button.disabled = true
    })
  })
  </script>
{% endblock extra_scripts %}
