{% extends "common/system-base.html" %}

{% block title %}
  Crear Auditoria
{% endblock title %}
{% block page_title %}
  Crear Auditoría
{% endblock page_title %}
{% block page_subtitle %}
{% endblock page_subtitle %}
{% block main_content %}
  <section class="card w-100 bg-body-tertiary shadow">
    <header class="card-body p-4">
      <h3 class="card-title text-2xl font-semibold">Crear Auditoría</h3>
      <p class="text-muted">Llene los detalles de la auditoría para crearla.</p>
    </header>
    <article class="card-body p-4">
      <form class="row g-3" action="{% url 'create_audit' %}" method="post">
        {% csrf_token %}
        <div class="col-md-6">
          <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text"
                   class="form-control"
                   id="audit_title"
                   name="audit_title"
                   placeholder="Enter audit title"
                   required />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="identidad" class="form-label">Entidad</label>
            <input type="text"
                   class="form-control"
                   id="audit_identidad"
                   name="audit_identidad"
                   placeholder="Ingrese la Entidad"
                   required />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="fechaInit" class="form-label">Fecha de Inicio</label>
            <input type="date"
                   class="form-control"
                   id="audit_fechaInit"
                   name="audit_fechaInit"
                   required />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="fechaEnd" class="form-label">Fecha Final</label>
            <input type="date"
                   class="form-control"
                   id="audit_fechaEnd"
                   name="audit_fechaEnd"
                   required />
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label">Tipo de Auditoría</label>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="audit_financial" name="audit_financial" />
              <label class="form-check-label" for="audit_financial">Auditoría Financiera</label>
            </div>
          </div>
        </div>
        
        {% if show_assignment %}
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label">Asignar a</label>
            {% with select_options=select_options %}
              {% include "common/_select-input.html" with select_id="audit_assigned_users_ids" select_options=select_options option_value="username" text_to_show1="get_full_name" text_to_show2="role" select_placeholder="Asignar usuarios para la auditoria" %}
            {% endwith %}
          </div>
        </div>
        {% endif %}
        
        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Crear auditoria</button>
        </div>
      </form>
    </article>
  </section>
{% endblock main_content %}
{% block extra_scripts %}
  {{ block.super }}
{% endblock extra_scripts %}